/*
    STASH SITE STYLING
    @author David Khourshid
 */

@import 'elements.less';
@import '../fonts/fonts.css';

* { position: relative; }

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.border-box {
    .box-sizing(border-box);
    max-width: 100%;
}
.smooth {
    .transition(0.4s, ease-out);
}

.bold {
    font-family: 'foundrysterling-boldregular';
}

// SETTINGS
@u: 14px;
@menu_items: 6;
@base_font_size: 18px;
@menu_item_font_size: 16px;
@menu_items_top: 42px;
@h1_size: 88px;
@h1_smaller_size: 36px;
@h2_size: 20px;
@h3_size: 20px;
@text_size: 16px;

// COLOR PALETTE
@stash_green: #51C941;
@stash_lightgreen: #7BC246;
@stash_lightblue: #b5dfe4;
@stash_teal: #00948E;
@stash_red: #C11D1F;

.transparent-bg(@color, @alpha: 0.65) {
    @r: red(@color);
    @g: green(@color);
    @b: blue(@color);
    @a: @alpha;

    background: rgba(@r, @g, @b, @a);
}
.mobile { display: none; }
a.post-edit-link { display: none; }

.article-style {
    width: 100%;
    padding: @u 0;
    margin: 0 auto;
    min-height: 400px;

    > div {
        width: 75%;
        margin: 0 auto;
        padding: 0;

        h1 {
            font-family: 'lavanderia_sturdy';
            // font-weight: bold;
            font-size: @h1_smaller_size;
            text-align: center;
        }

        h2 {
            font-family: 'cartonslab', serif; font-size: 20px; text-align: center; text-transform: uppercase; 
        }

        h3 {
            font-size: @h3_size;
            text-align: center;
        }

        h1, h2, h3, h4 {
            margin: @u 0;
            font-weight: normal;

            strong {
                .bold;
            }
        }

        h1 + h2 {
            margin-top: -@u;
        }

        p {
            font-weight: bold;
            font-size: @text_size;
        }

        >div.columns {
            .columns(50%, 2, 2*@u, transparent, none, 0);

            >p {
                font-weight: bold;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    &.narrow {
        > div > div {
            width: 75%;
            margin: 0 auto;
        }
    }

    img {
        .drop-shadow(2px, 2px, 5px, 0.2);
    }
}

body {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'foundrysterling-mediumregular';
    font-size: @text_size;

    .wrapper {
        width: 100%;
        margin: 0;

        /* HEADER */
        .header {
            height: 300px;

            .logo {
                text-align: center;
                margin-top: @menu_items_top;

                a {
                    z-index: 5;
                }
            }
            nav {
                position: absolute;
                z-index: 2;
                width: 100%;
                top: 0;

                .menu {
                    position: absolute;
                    width: 100%;
                    top: @menu_items_top;

                    >ul {
                        margin: 0;
                        padding: 0;

                        >li {
                            font-family: 'cartonslab', serif;
                            color: white;
                            // width: 100% / (@menu_items + 2);
                            // width: 100% / (@menu_items+2);
                            padding: 2*@u 2% ;
                            display: inline-block;
                            text-align: center;
                            float: right;

                            >a {
                                font-size: @menu_item_font_size;
                                color: white;
                                text-shadow: 0 0 5px #666;
                                .smooth;

                                &:hover {
                                    color: @stash_teal;
                                    .smooth;
                                }
                            }

                            &.left {
                                float: left;
                            }
                        }
                    }
                }
            }
        }

        #background_image {
            background-image: url('../stash-img/blog/blog.header.jpg');
            position: absolute;
            height: 700px;
            width: 100%;
            top: 0;
            margin: 0; padding: 0;
            background-size: cover;
            background-position: center;
        }

        #background_image.blog-background-image {
            height: 600px;
        }

        section {
            width: 100%;
            .clearfix;
            >h1 { display: none; }

            article {
                .article-style;
            }

            form {
                input {
                    vertical-align: top;
                    font-size: 10pt;
                    font-weight: normal;
                    font-family: 'foundrysterling-boldregular';
                    color: @stash_teal;
                    padding: 8px 5px 5px;
                    margin-right: @u;
                    line-height: 2*@u;
                    height: 2*@u;
                    .border-box;
                }

                button {
                    .border-box;
                    font-family: 'lavanderia_sturdy', sans-serif;
                    background: @stash_red;
                    color: white;
                    font-size: @base_font_size;
                    border: none;
                    padding: 0 @u;
                    line-height: 2*@u+5px;
                    height: 2*@u;
                }
            }

            &#blog_header {
                article#blog_header_title {
                    min-height: 0;
                    .transparent-bg(@stash_teal);
                    margin-bottom: 100px;
                    margin-top: -100px;

                    div {
                        h1 {
                            color: @stash_green;
                            font-size: @h1_size;
                        }
                        h2 { color: white; }
                    }
                }

                article#blog_mailing_list {
                }
            }

            &#blog_content {
                background:white;
                width: 100%;
                margin: 0 auto;
                padding: @u;

                #blog_left {
                    width: 60%;
                    float: left;
                    z-index: 10;

                    h1 {
                        text-align: center;
                        font-family: 'lavanderia_sturdy';
                        color: @stash_red;
                        font-size: @h1_size/2;
                    }

                    article {
                        width: 100%;
                        padding: @u;
                        max-width: 600px;
                        float: right;
                        min-height: 0;

                        >div {
                            width: 100%;

                            h1 {
                                color: @stash_teal;
                                text-align: left;
                                font-size: @h1_smaller_size;

                                a {
                                    color: @stash_teal;

                                    &:hover {
                                        color: darken(@stash_teal, 7%);
                                    }
                                }
                            }

                            h2 {
                                color: gray;
                                text-align: left;
                                font-size: @text_size;
                            }

                            &.post-excerpt {
                                font-size: @text_size;

                                .view-article {
                                    color: @stash_green;
                                    font-family: 'cartonslab', serif;
                                }
                            }

                            a.view-article:hover {
                                color: darken(@stash_green, 14%);
                            }
                        }
                    }
                }

                #blog_right {
                    width: 40%;
                    float: left;
                    z-index: 10;
                    padding: 0 0 0 @u*2;
                    max-width:350px;

                    article { 
                        min-height: 0;
                        width: 100%;
                    }

                    article#sidebar_social_media {
                        .clearfix;
                    }

                    article.featured-post {
                        background: @stash_teal; 
                        background-size: cover;
                        margin: @u 0;
                        overflow: hidden;
                        padding: 0;

                        div {
                            margin: 0;
                            width: 100%;

                            h2 {
                                margin: 0;
                                >a {
                                    display: block;
                                    padding: 19% 0;
                                    color: white;
                                    font-size: @text_size;
                                    span.cursive { text-transform: none; font-family: 'lavanderia_sturdy'; font-size: @h1_smaller_size; }
                                }
                            }

                        }
/*                        div.post-thumbnail {
                            position: absolute;
                            height: 100%; width: 100%;
                            top: 0; left: 0;

                            img {
                                width: 100%;
                               
                            }
                        }*/

                        &#pattern_of_the_month {
                            background-image: url('../stash-img/home/accordian/home.accordian.1.jpg');
                        }
                        &#knit_creations {
                            background-image: url('../stash-img/home/accordian/home.accordian.2.jpg');
                        }
                        &#interviews_with_the_knitterati {
                            background-image: url('../stash-img/home/accordian/home.accordian.3.jpg');
                        }
                    }

                    div#wp_sidebar {
                        form.search {
                            padding: @u;
                            background: lightgray;
                            width: 100%;

                            input {
                                width: 70%;
                                margin: 0;
                                font-size: @text_size - 1px;
                            }
                            button {
                                width: 28%;
                                margin: 0;
                                font-family: 'cartonslab', serif;
                                font-size: @text_size - 3px;
                            }
                        }

                        >article {
                            margin: @u 0;
                        }
                    }

                    article.mailing-list {
                        background: @stash_green;
                        color: white;

                        h1 {
                            color: @stash_teal;
                        }

                        form {
                            input {
                                margin-bottom: @u/2;
                                margin-right: 0;
                                width: 100%;
                            }
                            button {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }

        hr {
            border: 0;
            height: 15px;
            background: url('../stash-img/global/wood.png') repeat-x;
            margin: 0;
        }

        .social-media {
            margin: 0;
            width: 100%;

            a {
                background-repeat: no-repeat;
                background-position: center top;
                display: inline-block;
                height: 50px;
                width: 60px;
            }
        }

        a.ravelry { background-image: url('../stash-img/global/social.ravelry.png'); }
        a.facebook { background-image: url('../stash-img/global/social.facebook.png'); }
        a.pinterest { background-image: url('../stash-img/global/social.pinterest.png'); }
        a.twitter { background-image: url('../stash-img/global/social.twitter.png'); }
        a.youtube { background-image: url('../stash-img/global/social.youtube.png'); }
        
        // IG doesn't appear with the rest of the social links
        a.instagram { background-image: url('../stash-img/home/home.instagram.png'); }

        // for the blog, the links appear slightly differently
        // also for the footer!
        #blog_right,
        #stash_footer {

            .social-media {
                a {
                    /* the footer uses a different colored icon, the darker set
                     which are in the same sprite */
                    background-position: center -58px;
                    height: 52px;
                }
            }
        }


    }

    // Mailing List Footer
    section>article.mailing-list {
        background: @stash_green;
        min-height: 0;
        margin-bottom: @u;

        div {
            h1, h2, form {
                display: inline-block;
                margin-right: @u;
            }

            h1 {
                font-size: @h1_smaller_size;
                color: @stash_teal;
            }
            h2 { color: white; font-size: @text_size;}

            form {
                width: 45%;
                margin-right: 0;
                display: inline-block;

                input {
                    width: 35%;
                }
            }
        }


    }
    section#footer_mailing_list {
        background: white;
        clear: left;

        article { 
            background: white; 

            h1 { color: @stash_teal; }
            h2 { color: @stash_green; }
        }
    }

    // Stash Footer
    section#stash_footer {
        background: @stash_teal;
        padding-top: @u;
        height: 200px;
        .clearfix;

        >div {
            float: left;

            &#stash_footer_nav {
                width: 70%;
                margin-bottom: @u;
                .clearfix;

                >.social-media {
                    width: 100%;
                }
            }
            &#stash_footer_address {
                width: 30%;
                // no longer use a background
                // background: url('../stash-img/global/logo.white.png') top right no-repeat;
                address {
                    font-style: normal;
                    font-size: 18px;
                    color: white;
                    text-align: right;

                    a.footer-logo {
                        position: absolute;
                        left: 100px;
                    }

                    p {
                        float: left;
                        top: 30px;
                    }
                }
            }
        }

        nav {
            .menu {
                >ul {
                    padding: 0;
                    margin: 0;

                    >li {
                        display: inline-block;
                        padding: @u/2 @u @u/2 0;
                        a {
                            font-family: 'cartonslab', serif;
                            color: @stash_lightblue;
                            font-size: @text_size;

                            &:hover { color: white; }
                        }
                        &:after {
                            content: "\2022";
                            position: absolute;
                            width: (@text_size/2);
                            right: 0;
                            height: 100%;
                            line-height: 100%;
                            font-size: @text_size;
                            color: @stash_lightblue;
                        }

                        &:last-child:after { display: none; }
                    }
                }
            }
        }

        .social-media {
            width: 50%;
            float: left;
            margin: 0;
            padding: 0;
        }
    }

    section#blog {
        .transparent-bg(white);

        article.stash-post {
            h1 { color: @stash_teal; }
        }
    }

    // Home page
    &.home {
        #background_image {
            background-image: url('../stash-img/home/home.header.jpg');
            min-height: 750px;
        }

        .wrapper>.header {
            height: 200px;
        }

        section {
            article#it_could_be_anything {
                height: 200px;
                min-height: 200px;
                .transparent-bg(@stash_teal);
                h1 { color: @stash_lightblue; font-size: @h1_size; }
                h2, h2>a, p { color: white;}
            }

            article#join_the_creativity {
                height: 350px;
                min-height: 350px;
                background: transparent;
                .clearfix;

                h1 { color: white; }
                h2, h2>a { color: @stash_lightblue; }

                >div {
                    margin: 0;
                    margin-top: 90px;
                    width: 50%;
                    float: right;

                    .social-media {
                        text-align: center;
                        padding: 0;
                        margin: 0;
                    }

                    form { 
                        text-align: center; 

                        input { width: 25%; }
                    }

                    &.left {
                        h2 {
                            margin: 0;
                            top: 59px;
                            padding: 56px @u;
                            width: auto;
                            display: inline-block;
                            padding-right: 69px;
                            font-size: 16px;
                            text-align: left;
                            background: url('../stash-img/global/logo.white.small.png') right top no-repeat;
                        }
                    }
                }
            }

            article#happiness_is_in_the_potential {
                background: white;
                min-height: 401px;
                h1, p { color: @stash_teal; text-align: center; }
                h2, h2>a { color: @stash_green;}
            }

            article#home_image_links {
                hr {
                    width: 100%;
                    background-repeat: repeat;
                    margin: 0 auto;
                }
                div.stash-image-links {
                    width: 100%;

                    div.stash-image-link {
                        padding: 1px; // don't ask
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: top center;
                        margin-bottom: @u;
                        overflow: hidden;

                        div {
                            text-align: center; 
                            color: white;
                            font-size: @text_size;
                            font-family: 'cartonslab', serif;
                            margin: @u 0;

                            span.cursive {
                                font-family: 'lavanderia_sturdy';
                                font-size: @h1_smaller_size;
                            }
                        }

                        div.stash-image-link-title {
                            font-size: @h2_size;
                        }

                        div.stash-image-link-content, div.stash-image-link-footer {
                            font-size: text-size;
                            max-height: 0;
                            margin: 0;
                            .smooth;
                        }

                        div.stash-image-link-footer a {
                            color: #FFF;
                            cursor: pointer;
                        }

                        div.stash-image-link-content {
                            color: @stash_lightblue;
                            max-width: 75%;
                            margin: 0 auto;
                        }

                        &:hover {
                            div.stash-image-link-content, div.stash-image-link-footer {
                                max-height: 100px;
                                margin: @u auto;
                                .smooth;
                            }
                        }
                    }
                }
            }
        }
    }

    // About Page
    &.about {
        #background_image {
            background-image: url('../stash-img/about/about.header.jpg');
            height: 300px;
            /* for the about page, don't let her face get hit by the logo as the 
            page is resized, so keep it at y: 0px always. */
            background-position: center 0px;
        }

        section {

            article#about_stash {
                background: #009193; // to replace with texture
                h1 { color: @stash_green; font-size: @h1_size; }
                h2 { color: @stash_lightblue; margin-top: 30px;}
                h3 { color: white; .bold; margin-bottom: 25px;}
                p { color: white; .bold;}
                .columns {
                    margin: 0 20%;
                }
            }
           article#the_stash_rules {
                background: white;
                h1 { color: @stash_teal; font-size: @h1_smaller_size; }
                h2, h2>a { 
                    color: @stash_lightgreen; 
                    margin-top: 30px;
                    font-family: 'cartonslab';
                }
                h3, p { 
                    color: #67686B; 
                }
                p {
                    margin: 8px 20%;

                    em {
                        font-family: 'cartonslab';
                        font-style: normal;
                        text-transform: uppercase;
                    }
                }
            }
           article#sonia_ruyts {
                background: @stash_lightgreen;
                min-height: 0;

                h1 { color: white; font-size: @h1_smaller_size; }
                h2, h3, h2>a { color: @stash_lightblue; font-size: @text_size; }
                p { color: white; margin: @u 0; }
                h1, h2, h3, p { text-align: left; }

                .content {
                    >a {
                        display: inline-block;
                        float: left;

                        >img {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    // Classes page
    // this is now the moderntri.be plugin.
    // events-gridview and events-list must simply be a class which 
    // the tribe plugin applies to the <body> element
    &.events-gridview,
    &.single-tribe_events,
    &.events-list {
        #background_image {
            background-image: url('../stash-img/classes/classes.header.jpg');
        }

        section {

            article#classes_and_events {
                background: @stash_lightgreen;
                .transparent-bg(@stash_lightgreen);
                h1 { font-size: @h1_size; }
                h1, h3, p { color: white; }
                h2, h2>a { color: @stash_lightblue;}
                p {
                   margin: 0 12%; line-height: 1.3;
                }
            }

            article#save_the_dates {
                h1 { color: @stash_teal; }
                h2 { text-align: left; }
                
                #tribe-events-content .tribe-events-tooltip h4,
                .tribe-events-calendar th {
                    background-color: @stash_green;
                    color: #FFF;
                }

                .tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a {
                    background-color: lighten(@stash_green, 30%);
                    color: @stash_teal;
                }

                #tribe-events-content table.tribe-events-calendar, #tribe-events-content .tribe-events-calendar td {
                    border-color: lighten(@stash_teal, 10%)
                }

                // from the modern tribe css
                .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a {
                    background-color:  @stash_teal;
                    color: #FFF;
                }

                /* classes ought to be a different color than events */
                .tribe-events-category-class h3 a,
                .tag-class h3 a {
                    color: @stash_teal;
                }

                .tribe-events-category-event h3 a,
                .tag-event h3 a {
                    color: @stash_green;
                }

                .tribe-events-category-special h3 a,
                .tag-special h3 a {
                    color: @stash_red;
                }

            }
        }
    }

    // Products page
    &.products {
        #background_image {
            background-image: url('../stash-img/products/products.header.jpg');
        }

        section {
            article#products {
                min-height: 400px;
                .transparent-bg(@stash_teal);

                h1 { color: @stash_green; font-size: @h1_size; }
                h2, p { color: white; }
            }

            article#local_artisan_favorites {
                h1 { color: @stash_teal; }
                h2 { color: @stash_green; }
                h2 a { color: @stash_green; } // article#local_artisan_favorites h2 a is overiding
              
            }
        }

        h1 {
            clear: both;
        }

        .stash-products-section,.stash-yarns-section {

            @product_width : 146px;
            @product_margin : 20px ;

            clear: both;
            width: (@product_width + @product_margin*2)*3;
            margin: 0 auto;
            

            .empty {
                text-align: center;
            }

            .stash-product,.stash-yarn {
                float: left;
                height:400px;
                width: @product_width;
                padding: 0;
                font-family: 'foundrysterling-mediumregular';
                margin-left: @product_margin ;
                margin-right: @product_margin;
                
                font-size: .8em;
                .smooth;

                &:hover {  }

                .stash-product-pinterest,.stash-yarn-pinterest {
                    position: absolute;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.6);
                    .opacity(0);
                    .transition(opacity);
                    .transition-duration(.25s);

                    &:hover {
                        .opacity(1);
                    }

                    img {
                        margin-top: 5em;
                        margin-left: 4em;
                    }
                }

                >div {

                    .stash-product-title,.stash-yarn-title { 
                        text-align: left; 
                        color: gray !important;
                        margin-bottom: 0;
                        font-size: 1.2em;
                    }

                    &.stash-product-content,&.stash-yarn-content {
                        p { margin-top: 0; font-weight: normal; font-size: 1em; }
                    }

                    &.stash-product-footer,&.stash-yarn-footer {
                        p { font-weight: normal; font-size: 1em; }
                    }
                }
            }
        }
    }

    // Come Visit Us page
    &.come-visit-us {
        #background_image {
            background-image: url('../stash-img/contact/contact.header.jpg');
            height: 800px;
        }

        section {
            article#come_visit_us {
                height: 500px;
                .transparent-bg(@stash_teal);
                h1 { color: @stash_green; font-size: @h1_size; }
                h2, h3, p { color: white; }
                p {
                    margin: 0 20%;
                }

            }

            article#contact_us {
                h1 { color: @stash_teal; }

                #store_hours {
                    width: 30%;
                    float: left;

                    h1, h2, p { text-align: left; }
                    h2, p { margin: 0; }
                    h2 { margin-top: @u; }
                    p { font-weight: normal; }

                    ul {
                        padding-left: 0;
                        li {
                            list-style: none;
                            font-size: @menu_item_font_size;

                            >span { width: 50%; display: inline-block; }
                        }
                    }
                }
                #map {
                    width: 70%;
                    padding-right: 2*@u;
                    float: left;

                    h2 { text-align: left; }

                    .the_map_view {
                        a.map_view {
                            display: block;
                            cursor: pointer;
                            height: 295px;
                            width: 100%;
                            border: 1px solid #333;
                            background: url('../stash-img/contact/map_view.png') left center no-repeat; 
                            
                            &:hover {
                                border-color: @stash_green;
                            }
                        }
                        a {
                            font-size: 1.2em;
                            font-weight: bold;

                            &:hover {
                                color: @stash_green;
                            }
                        }
                    }
                }
            }

            article#visit_us_in_oregon {
                float: left;
                min-height: 0; 

                div { 
                    background: url('../stash-img/contact/contact.ad.jpg') center center no-repeat; 
                    background-size: cover;
                }
                h1, h2 { color: white; }
                h1 { padding-top: @u; }
                h2 { padding-bottom: @u; }
            }
        }
    }

    @slider_height : 250px;

    // instagram feed
    .instagram-feed {

        clear: both;
        width: 100%;
        height: @slider_height;
        position: relative;
        z-index: 1;
        width: 90%!important;
        margin: 3*@u auto 2*@u auto;
        background: url('../img/ajax-loader.gif') center center no-repeat;

        // hide loader when slideshow loads
        &.loaded {
            background: none;
        }

        .instagram-ctrl-right,
        .instagram-ctrl-left,
        .instagram-icon,
        .instagram-feed-pagination,
        .instagram-feed-slider {
            .opacity(0);
        }

        .instagram-feed-slider {
            padding-top: 10px;
            position: absolute;
            margin-left: 0px;
            height: @slider_height;
        }

        .instagram-feed-post {
            margin-right: 20px;
            margin-left: 20px;
            width: 150px;
            // make captions just above pagination
            z-index: 4;
            float: left;

            .instagram-feed-image {
                .drop-shadow(0, 0, 14px, 0.75);
            }

            .instagram-feed-caption {
                .transition(opacity);
                .transition-duration(.25s);
                .opacity(0);
                padding: 2px;
                background-color: rgba(1,1,1,.75);

                p {
                    margin: 0;
                    font-family: 'foundrysterling-mediumregular';
                    font-size: 1em;
                    color: #FFF!important;
                }
            }
            
            &:hover, 
            &.showing {

                .instagram-feed-caption {

                    .opacity(1);
                }

            }
        }

        .instagram-ctrl-right,
        .instagram-ctrl-left {
            margin-left: -35px;
            .rounded(10px);
            padding: .4em .75em;
            color: @stash_teal;
            float: left;
            position: relative;
            top: 48px;
            font-size: 2.5em;
            z-index: 5;

            &:hover {
                color: #333;
            }
        }

        .instagram-ctrl-right {
            margin-right: -35px;
            float: right;
        }

        .instagram-icon {
            text-align: center;
            top: 200px;

            a {

                margin: 0 auto;
                display: block;
                background: url('../stash-img/home/home.instagram.png') center center no-repeat; background-size: 100%;
                width: 33px;
                height: 32px;

                span {
                    display: none;
                }
            }
        }

        .instagram-feed-pagination {
            
            text-align: center;

            a {

                margin-right: 10px;
                font-size: 1.15em;
                color: @stash_teal!important;

                &:hover {
                    color: @stash_green!important;
                }
            }
        }
    }
}

// RESPONSIVE (MOBILE) STYLE
@import 'wire.less';

/*=========================
		BLOG COMMENTS
==========================*/			
			
 .comment-body{background:#; box-shadow:inset 0px 0px 10px #f1f1f1; padding:20px ;color:#666666;margin:0px 0px 20px;}
 .comment-body p{ font-weight:100;color:#999;}
 .comment-body img{width:50px; height:50px; margin:0px 5px 10px 0px;}
  
 .comments ul{margin:0px; padding:0px; color:#999; }
    	ul li{list-style-type:none; }
  
 .comments .form-submit input {background:#51c941; border:0px; color:#fff; font-weight:100!important; padding:4px 20px 30px; font-size:12pt; width:100%;font-family: 'cartonslab', serif; }
  
 .comment-form-comment label{color:#51c941; font-family: 'cartonslab', serif; font-weight:normal;}
 .comment-meta{font-size:8pt; color:#51c941; opacity:.4; float:right; top:-60px;}
  
 .reply a{float:right; opacity:.5; background:#51c941; padding:5px 10px; color:#fff; font-size:12px; top:-25px;}
 .reply a:hover{opacity:1;} 
  
 code{display:none;}
 .form-allowed-tags{display:none;}
 .logged-in-as{display: none;color:#999;}
 textarea{padding:10px; line-height:1.4; border:solid 1px #f1f1f1; box-shadow:inset 0px 0px 10px #f1f1f1; color:#999;}
 
/*========================================
		Steph's misc last minute edits
=========================================*/

.form-allowed-tags{font-size:10px!important; color:#999!important;}

.comment-reply-title{	color: #00948e; font-size: 36px!important; font-family:'lavanderia_sturdy';}
textarea{width:100%}
#input {
  vertical-align: top;
  font-size: 18px;
  font-weight: normal;
  font-family: 'foundrysterling-boldregular';
  color: #fff;
  padding: 0 7px;
  margin-right: 14px;
  line-height: 28px;
  height: 28px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  background:#00948e;
  border:0px;
}
//body.come-visit-us section article #come_visit_us p {margin: 15px 20%;}