@media only screen and (max-width: 909px) {// main menu fix at 909px
    
    body {.wrapper {.header {nav { .menu{ul{li {padding: 2*@u 1%; font-size: @text_size;}}}}}}}
    
    #join_the_creativity{ h2{font-size: 16px;}}
}

@media only screen and (max-width: 1024px) {
    body {

        section#mailing_list {
            >div {
                h1 { margin-bottom: 0; } 
                h2 { margin-top: 0; }
                input { margin: 0; width: 100%; margin: none; }
                button { width: 100%; }
            }
        }

        section#footer_mailing_list {
            display: block;

            article.mailing-list {
                display: block !important;

                form {
                    width: 100%;
                    input { width: 100%; }
                    button { width: 100%; }
                }
            }
        }

        section#stash_footer {
            height: auto;

            >div {
                &#stash_footer_nav { 
                    width: 50%;
                    nav { 
                        ul {
                            margin-left: @u;
                            >li {
                                font-size: 12px;
                                padding: 0;
                                display: block;
                                &:after { content: ""; }
                            }
                        }
                    }
                    .social-media { 
                        width: 100%; 
                        padding: 0 @u;
                    }
                }
                &#stash_footer_address {
                    width: 50%; 
                }
            }
        }

    }
}

@media only screen and (max-width: 767px) { 
    
    body .wrapper .header .logo {
        margin-top:0!important;

        a {
            z-index: 2; 
        }
    }

    body {

        div#background_image {
            // min-height: 0!important;
            // height: 400px!important;
        }
    }

    .mobile { display: block; }
    
    a.post-edit-link { display: none; }
    
    .article-mobile-style {
        min-height: 0;

        > div {
            width: 90%;

            >h1 {
                font-size: @h1_smaller_size !important;
            }

            h2 {
                font-family: 'cartonslab', serif;
                font-size: @h2_size;
                text-align: center;
                text-transform: uppercase;
            }

            h3 {
                font-size: @h3_size;
                text-align: center;
            }

            h1, h2, h3, h4 {
                margin: @u 0;
            }

            h1 + h2 {
                margin-top: -@u;
            }

            p {
                font-weight: bold;
                font-size: @text_size;
            }

            >div.columns {

                .columns(0,1);

                >p {
                    font-weight: bold;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        &.narrow {
            > div > div {
                width: 100%;
            }
        }
    }

    body {
        .wrapper {
            .header {
                nav {
                    #nav_toggle_label {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: @u;
                        background: @stash_teal;
                        color: white;
                        font-size: @h2_size;
                        z-index: 10;
                        font-family: 'cartonslab', serif;

                        &:before { content: "Menu"; }
                    }
                    #nav_toggle {
                        visibility: hidden;
                    }
                    #nav_toggle ~ .menu {
                        display: none;
                    }
                    #nav_toggle:checked ~ .menu {
                        display: block;
                    }
                    #nav_toggle:checked + label {
                        &:before { content: "X"; }
                    }

                    .menu {
                        width: 300px;
                        top: 0; right: 0;
                        background: darken(@stash_teal, 10%);

                        >ul {
                            padding: @u 0;
                            
                            >li {
                                float: none !important;
                                padding: @u;
                                display: block;
                                width: 100%;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            
            section {
                >article {
                    .article-mobile-style;

                    &#sonia_ruyts {
                        .content {
                            >a {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }

                    &#save_the_dates {
                        .stash-class {
                            > div { width: 100%; }
                            .stash-class-image {
                                margin-bottom: @u;
                            }
                        }
                    }

                    &#it_could_be_anything {
                        height: auto;
                        min-height: 0;
                    }

                    &#join_the_creativity {
                        display: none;
                    }

                    &#happiness_is_in_the_potential {
                        .instagram-feed-pagination {
                            display: none !important;
                        }
                    }

                    &#home_image_links {

                        .cursive {
                            font-size: 28px!important;
                        }
                        hr {
                        // .stash-image-link-content {
                            display: none;
                        }
                        .stash-image-link-title {
                            margin: 6px 0!important;
                        }
                        .stash-image-link-content {
                            // using important because the selector is not as
                            // specific as parent
                            font-size: .75em!important;
                            /* must be more visible than @stash_lightblue */
                            color: #FFF!important;
                            max-width: 90%!important;
                        }
                        .stash-image-link-footer {
                            max-height: 100px;
                            margin: 3px!important 0!important;
                        }
                        .stash-image-link {
                            &:focus {
                                div.stash-image-link-content, div.stash-image-link-footer {
                                    max-height: 100px;
                                    margin: @u auto;
                                    .smooth;
                                }
                            }
                        }
                    }

                    &#contact_us {
                        div#map, div#store_hours {
                            width: 100%;
                        }
                    }

                    &.mailing-list {
                        display: none;
                    }
                }
            }

            section#blog_content {
                width: 100%;

                div#blog_left, div#blog_right {
                    width: 100%;

                    article {
                        margin: 0 auto;
                    }
                }
            }

        }

        /** 
         * The Following Section "fixes" the header images for certain pages.
         * before the images had a translucent green bar across them (still in desktop version)
         * for mobile this is removed with .transparent-bg(@color, 1)
         * and the image is set to a shorter height, so the whole thing appears above the green strip.
         */

        // HOME PAGE, DUH
        &.home { 
            #background_image{ height: 700px;}
        }

        // CONTACT PAGE
        &.come-visit-us {
            #background_image {
                height: 300px;
            }

            section {

                article#come_visit_us {
                    .transparent-bg(@stash_teal, 1);

                    p {
                        margin: 8px 0;
                    }
                }
            }
        }
        
        // PRODUCTS PAGE
        &.products {
            #background_image {
                // 450 is the perfect number for scaling the image
                // just enough to make the logo not be over the red yarn pixels
                height: 450px;
            }

            section {

                article#products {
                    .transparent-bg(@stash_teal, 1);

                    p {
                        margin: 8px 0;
                    }
                }
            }
        }
        
        // EVENTS/CLASSES PAGE
        &.events-gridview,
        &.single-tribe_events,
        &.events-list {
            #background_image {
                // 450 will scale the girls so their faces are not under the stash logo.
                height: 450px;
            }

            section {

                article#classes_and_events {
                    .transparent-bg(@stash_lightgreen, 1);
                    p {
                        margin: 8px 0;
                    }

                    h1 {
                        font-size: @h1_smaller_size !important;
                    }
                }
            }
        }

        &.about {
            section {

                article#about_stash {
                    .columns {
                        margin: 0;

                    }
                }
                article#the_stash_rules {
                    p {
                        margin: 8px 0;
                    }
                }
            }
        }

        section#mailing_list {
            >div {
                h1 { margin-bottom: 0; } 
                h2 { margin-top: 0; }
                input { margin: 0; width: 100%; margin: none; }
                button { width: 100%; }
            }
        }

        section#footer_mailing_list {
            display: block;

            article.mailing-list {
                display: block !important;

                form {
                    width: 100%;
                    input { width: 100%; }
                    button { width: 100%; }
                }
            }
        }

        section#stash_footer {
            height: 300px;

            >div {
                &#stash_footer_nav { 
                    width: 100%;
                    nav { display: none; }
                    .social-media { 
                        width: 100%; 
                        padding: 0 @u;
                    }
                }
                &#stash_footer_address {
                    width: 100%; 

                    address {
                        right: 0;

                        a.footer-logo {
                            float: left;
                            right: 0;
                            top: -25px;
                        }

                        p {
                            float: right;
                            left: -@u*3;
                            margin-top: @u*2;
                        }
                    }
                }
            }
        }

        // Products page
        &.products {
            .stash-products-section {

                .stash-product {
                    display: block;
                    width: 100%;
                    height: auto;

                    >div {
                        margin-right: @u;

                        .stash-product-title { 
                            text-align: left; 
                            color: gray !important;
                            margin-bottom: 0;
                        }

                        &.stash-product-content {
                            p { margin-top: 0; font-weight: normal; }
                        }

                        &.stash-product-footer {
                            p { font-weight: normal; }
                        }
                    }
                }
            }
        }
    }
}

